<p id="notice"><%= notice %></p>

<h1>Colas</h1>

<table>
  <thead>
    <tr>
      <th>Nombrecliente</th>
      <th>Cantidadpersonas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colas.each do |cola| %>
      <tr>
        <td><%= cola.nombreCliente %></td>
        <td><%= cola.cantidadPersonas %></td>
        <td><%= link_to 'Show', cola %></td>
        <td><%= link_to 'Edit', edit_cola_path(cola) %></td>
        <td><%= link_to 'Destroy', cola, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cola', new_cola_path %>
